/*header*/
header {
    display: flex;
    height: 15vh;
    width: 100vw;
}
/*wrapper's*/
#wrapper1 {
    height: inherit;
    width: 50%;
}
#wrapper3 {
    display: flex;
    height: 100%;
    align-items: center;
}

img {
    height: 10vh;
}